/* All */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body{
    font-size: 16px;
}

ul li{
    list-style-type: none;
    display: inline-block;
}

input{
    border: none;
    outline: none;
}

p,h3,h1,h2,h5{
    display: inline-block;
}

a{
    text-decoration: none;
    display: inline-block;
    color: #43806C;
}

.container{
    margin: 0 80px;
}

/* Navbar */

.navbar{
    display: flex;
    justify-content: space-around;
    padding: 15px 20px;
    width: 100%;
    height: 80px;
    color: #43806C;
    font-weight: 600;
    font-size: 14px;
}

.navbar .logo{
    position: relative;
    top: 10px;
    font-size: 23px;
    font-weight: 300;
}

.navbar ul:nth-child(2){
    position: relative;
    left: 10%;
    top: 15px;
}


.navbar ul li{
    margin-left: 30px;
}

.green-btn{
    background-color:#43806C;
    padding: 15px 10px;
    color: #fff;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
}


/* Showcase setion */

.showcase{
    height: 720px;
    background-image: url(./images/showcase.png);
    background-size: 100%;
    background-repeat: no-repeat;
}

.showcase-txt-section{
    width: 50%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    top: 20%;
    left: 5%;
    color: #43806C;
}

.showcase-txt{
    font-weight: 900;
    font-size: 24px;
}

.showcase-comment{
    position: relative;
    top: 35px;
    font-weight: 700;
    font-size: 14px;
}

.showcase-txt-section .showcase-search{
    display: flex;
    justify-content: center;
}

.showcase-search{
    position: relative;
    right: 23%;
}

.showcase-search input{
    padding: 0px 0px 0px 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 230px;
}

.showcase-search .find-out{
     border-radius: 0;
     border-top-right-radius: 5px;
     border-bottom-right-radius: 5px;
     width: 140px;
}

/* Showcase on box */

.showcase-on-box{
    width: 80%;
    margin: 0 auto;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    box-shadow: 0px 6px 5px 3px rgba(51, 51, 51, 0.363);
    padding: 40px 40px;
    font-size: 12px;
    position: relative;
    bottom: 80px;
    background-color: #fff;
}

.small-box{
    display: flex;
    position: relative;
    top: 10px;
}

.small-img{
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.top-txt-sh{
    position: relative;
    bottom: 6px;
}

/* Statistic section  */

.statistic-section{
    display: flex;
    justify-content: space-between;
    color: #43806C;
}

.top-small-1{
    font-size: 12px;
    font-weight: 100;
    margin-bottom: 25px;
    text-transform: uppercase;
}

.middle-big-2{
    font-size: 28px;
    font-weight: 800;
    margin-bottom: 50px
}

.middle-small-3{
    font-size: 14px;
    font-weight: 200;
    letter-spacing: 1px;
    margin-bottom: 30px;
}

.bottom-small-btn{
    border-bottom: 2px solid #43806C;
    text-align: center;
    font-weight: 700;
    cursor: pointer;
}

.img-statistic-right{
    position: relative;
    bottom: 65px;
}

/* Two box section */

.two-box-section{
    display: flex;
    width: 100%;
}

.two-box-section .left{
    color: #43806C;
    background-color: #E3EEED;
    padding: 90px 0px 90px 60px;
    font-size: 26px;
    width: 50%;
}

.two-box-section .left a{
    margin: 12px 0px;
}

.two-box-section .right{
    background-color: #214E41;
    padding: 90px 0px 0px 0px;
    color: #fff;
    width: 50%;
}

.two-box-section .right .middle-small-3{
    position: relative;
    top: 25%;
    left: 25%;
    font-size: 14px;
    line-height: 25px;
    font-weight: 100;
}

/* counter section */

.counters-section{
    margin-top: 100px;
    margin-bottom: 90px;
}

.top-two-box{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}


.bottom-four-box{
    display: flex;
    margin: 0 auto;
    color: #214E41;
    justify-content: space-between;
}

span{
    font-size: 40px;
    color: goldenrod;
    font-weight: 900;
}

.counter-txt{
    font-size: 13px;
    font-weight: 700;
    margin-top: 10px;
}

/* Phone img section */

.phone-img-section{
    display: flex;
    width: 100%;
    justify-content: center;
}

.left-p{
    width: 50%;
}

.left-p img{
    position: relative;
    left: 120px;
    top: 4px;
}

.right-p{
    width: 50%;
}

.right-p p{
    position: relative;
    top: 100px;
    left: 50px;
}

/* Second Showcase */

.second-showcase{
    background-image: url(./images/Rectangle.png);
    height: 520px;
    color: #214E41;
}

.txt-showcase{
   position: relative;
   top: 30%;
   margin-left: 140px;
}

/* Brands Section */

.brands-section{
    margin-top: 40px;
    margin-bottom: 60px;
}

.brands-section h3{
    display: flex;
    justify-content: center;
    font-size: 24px;
    margin-top: 100px;
}

.brands-logo{
    display: flex;
    justify-content: space-around;
    margin-top: 70px;
}

/* Testimonials */

.testimonials{
    display: flex;
    justify-content: space-evenly;
    padding: 100px 50px 60px 50px;
    margin-bottom: 40px;
}

.photo-box{
    display: flex;
    flex-direction: column;
}

.comment{
    font-weight: 700;
    color: #214E41;
}

/* Per img section */

.per-img-section{
    width: 100%;
    display: flex;
}

.img-part img{
    width: 100%;
    height: 100%;
}

.txt-part{
    width: 50%;
    background-color: #E3EEED;
}

.all-txt{
    position: relative;
    top: 135px;
    margin-left: 70px;
}

.txt-part1{
    font-size: 28px;
    font-weight: 700;
    color: #43806C;
    margin-bottom: 55px;
}

/* Footer */

footer{
    background-color: #ffffff;
    width: 100%;
}

.top-box-f{
    display: flex;
}